In [5]:
import json
import pandas as pd
path = "/home/resources/cropped_sign_result/system_results.txt"

with open(path) as f:
    lines = [line.rstrip("\n").split("\t") for line in f.readlines()]

a = []
df = pd.DataFrame()
for i, (path, data) in enumerate(lines):
    data = json.loads(data)
    data = [p["transcription"] for p in data]
    df = df.append({"path":path, "keywords":data, "keywords_by_double_tab":"\t\t".join(data)}, ignore_index=True)

df.to_csv("/home/research/상무_전수조사/cropped_sign.csv")
df

,path,keywords,keywords_by_double_tab
0,20231226_144558_jpg.rf.jpg,"[TIMES TOWER, 오션타임스타워]",TIMES TOWER\t\t오션타임스타워
1,20231226_144558_jpg.rf2.jpg,[LG u+],LG u+
2,20231226_144558_jpg.rf3.jpg,[술까오],술까오
3,20231226_144558_jpg.rf4.jpg,[00],00
4,20231226_144558_jpg.rf5.jpg,[Leh:],Leh:
...,...,...,...
2717,20231226_172011_jpg.rf5.jpg,"[PANFIC, B1, 룸 소주방]",PANFIC\t\tB1\t\t룸 소주방
2718,20231226_172014_jpg.rf.jpg,"[인생이네컬, SELF STUDIO]",인생이네컬\t\tSELF STUDIO
2719,20231226_172018_jpg.rf.jpg,"[f, 인생o네컬, SELF STUDIO]",f\t\t인생o네컬\t\tSELF STUDIO
2720,20231226_172024_jpg.rf.jpg,"[쏘, PANFIC, 룸 소주방, B1]",쏘\t\tPANFIC\t\t룸 소주방\t\tB1
2721,20231226_172024_jpg.rf2.jpg,[],